html,
body {
    width: 100%;
    height: 100%;
    color: #2E3532;
}
footer {
  background: #f2f2f2;
  margin-bottom: 0;

}
.navbar {
  padding-top: 0px;
  padding-bottom: 0px;
  margin-top: 8px;
  margin-bottom: 8px;
}
.navbar-light {
  background: #E7AF00;
}

.navbar-toggler {
  margin-top: 10px;
  background: transparent;
  
}
.navbar-toggler:focus{
 outline: none;
}
.navbar-toggler:hover{
   border: 2px solid #247BA0;

}

.nav-link {
  text-decoration: none;
}

a {
    color: #247BA0;
    text-decoration: underline;
}
a:hover {
    color: #D5573B;
}
a:focus {
    color: #247BA0;
}
h1, h2, h3, h4, h5, h6 {
  font-family: 'Work Sans', sans-serif;
}
h1 {
  font-size: 4.75rem;
}
h2 {
  font-size: 3rem;
  text-transform: uppercase;
  padding-bottom: 2rem;

}
h3 {
  font-size: 1.5rem;
}
p, ul {
  font-size: 18px;
}
.lead {
  font-size: 24px;
  padding-bottom: 2rem;
}
.headline-list {
  font-size: 1.5rem;
}
.headline-list > li {
  padding-left: 4px;
  padding-right: 4px;
}
.header {
  position: relative;
  width: 100%;
  min-height: auto;
  padding-left: 2rem;
    background: url(https://dl.dropboxusercontent.com/u/7672939/splash_template_img.jpg?raw=1) no-repeat center center scroll;
     background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
}
.intro {
  padding-top: 12rem;
  padding-bottom: 14rem;
 
}
.btn-secondary {
  background: #E7AF00;
  border-radius: 100px;
  padding: 2px 14px;
  margin-top: 1rem;
  color: #2E3532;
  border: 3px solid #2E3532;
}
.btn-secondary:hover {
  background: #247BA0;
  color: #E7AF00;
  border: 3px solid #247BA0;
}
.service-name {
  padding-top: 1rem;
  text-transform: uppercase;
   font-family: 'Work Sans', sans-serif;
  font-size: 1.5rem;
  font-weight: 700;
}
.service-description {
  padding-bottom: 2rem;
  margin-top: -8px;
}
.portfolio-item {
  padding-bottom: 2rem;

}
.img-fluid {
  border: 4px solid #D5573B;

}
.project-title {
  font-size: 1.25rem;
  padding-top: 8px;
}
.project-link {
  font-size: 1rem;
}
.card-header {
  background: #F2F2F2;

 
}
.card-header > h3 > a {
  color: #247BA0;
  text-decoration: none; 
  text-transform: uppercase;
 
}
.card-header > h3 > a:hover {
  text-decoration: underline;  
}
.job-title {
 
  font-size: 20px;
  
}
.job-details {
  font-size: 16px;
  margin-bottom: -1px;
}
.bottom-nav > a {
  color: #D5573B;
}
.credits {
  margin-top: -12px;
}

/* Section padding */

.services {
    padding: 50px 0;
}
.portfolio {
  padding: 50px 0;
}
.experience {
  padding: 50px 0;
}
.contact {
  padding: 50px 0;
}
.footer {
  padding-top: 18px;
  padding-bottom: 18px;
}
/* media queries */
@media (max-width: 780px) {
  h1 {
    font-size: 4rem;
  }
  .intro {
    padding-top: 12rem;
  }
}
 @media (max-width: 560px) {
h1 {
  font-size: 2.75rem;
}
h2 {
  font-size: 2.5rem;

}
h3 {
  font-size: 1.5rem;
}
p, ul {
  font-size: 18px;
}
.lead {
  font-size: 18px;
  padding-bottom: 2rem;
}
.headline-list {
  font-size: 1.25rem;
}
.headline-list > li {
  padding-left: 4px;
  padding-right: 4px;
}
.header {
    padding-left: .1rem;
}
.intro {
  padding-top: 12rem;
  padding-bottom: 16rem;
  }
     
  }

@media (max-width: 380px) {
h1 {
  font-size: 2.5rem;
}
h2 {
  font-size: 2rem;
}

.intro {
  padding-top: 12rem;
  padding-bottom: 14rem;
  }
 
}
