
    <ul>
      <li><a href="mailto:info@katelynlemay.com"><i class="fas fa-envelope-open-text fa-2x" title="Email"></i></a>
      </li>
      <li><a href="https://twitter.com/lemayke"><i class="fab fa-twitter fa-2x" title="Twitter"></i></a>

      </li>
      <li><a href="https://www.linkedin.com/in/klemay/"><i class="fab fa-linkedin-in fa-2x" title="LinkedIn"></i></a>

      </li>
      <li><a href="https://medium.com/@klemay"><i class="fab fa-medium-m fa-2x" title="Medium"></i></a>

      </li>
    </ul>
