
  <title>{{ page.title }}</title>
  <link rel="shortcut icon" href="/assets/images/favicon.ico" type="image/x-icon"/ >
  <link href="https://fonts.googleapis.com/css?family=Nunito+Sans:400,400i,700&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="/assets/css/styles.css">

  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="{{ page.excerpt }}">

  <meta property="og:title" content="{{ page.title }}">
  <meta property="og:type" content="article">
  <meta property="og:site_name" content="katelynlemay.com">
  <meta property="og:description" content="{{ page.excerpt | strip_html }}"/>
  <meta property="og:image" content="{{ page.image }}" />

  <script src="https://kit.fontawesome.com/bc079bd023.js"></script>
