<!DOCTYPE html>
<html lang ="en">
<head>
  {%include head.html %}
  <link rel="stylesheet" href="assets/css/landing.css">
</head>
<body>
<main>
  <img src="https://www.katelynlemay.com/images/katelynlemay-2020.png" alt="I am a fat woman who wears large cat-eye glasses that are black with gold details. My hair is purple and cut into an asymmetrical pixie." id="myPic">
  <section id="about">
    <h1>{{ page.title }}</h1>
    {{ content }}
  </section>
  <section id="contact">
    {% include contact.html %}
  </section>
</main>
<footer>
  <p class="small-text">Designed and built by Katelyn Lemay. Background photo by <a href="https://unsplash.com/@dinoto_photography">Cris DiNoto</a>.</p>
</footer>
</body>
</html>
